__pycache__/
models/
recordings/
transcripts/
logs/
*.pyc
.venv/
wheels/
.pytest_cache/
venv/
env/
*.tmp
*.temp
*.log
.env
.env.*
!.env.example
*.pem
*.key
Release/
234242424242434242.PNG
三个两亿像素？OPPO Find X10 Pro Max上手.mp3
